
div{
    margin-bottom: 10px;
}

div input,
div label{
    display:block;
}

.limpar{
    margin-bottom: 10px;
    margin-top: 10px;
}

.linkcentro{
    text-align: center;
    color: black;
    font-size: 24px;
    margin-top: 20px;
  
    
}
div > a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    
}

.fundo-form{
    background-color: bisque;
}

.radioTest label, 
.radioTest input  {
    display: inline-block;
}