/*Tipos de fontes */

.serif{
    font-family: serif;
}

.sans{
    font-family: sans-serif;
}

.mono{
    font-family: monospace;
}

.cursive{
    font-family: cursive;
}
.fant{
    font-family: fantasy;
}


/*Estilos de fontes*/

.italic{
    font-style: italic;
}

/*Estilixando a espessura da fonte*/

.fino{
    font-family: helvetica;
    font-size: 24px;
    font-weight: 500;
}

.grossa{
    font-family: helvetica;
    font-size: 24px;
    font-weight: 700;
}

.muito_grossa{
    font-family: helvetica;
    font-size: 24px;
    font-weight: 900;
}

/*Tamanho da fonte*/

.tamanho1{
    background-color: blue;
    font-size: 16px;
}

.tamanho2{
    background-color: rgb(50, 50, 155);
    font-size: 24px;
}

.tamanho3{
    background-color: rgb(150, 150, 233);
    font-size: 36px;
}