/*transformando itens de linha para blocos*/
.sem_felex{
    border: 2px solid red;
    width: 150px;
    height: 180px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.com_felex{
    border: 2px solid rgb(0, 89, 255);
    width: 330px;
    height: 100px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;
}

/*Mudando a direção dos itens filhos*/

.com_direction{
    border: 4px solid rgb(255, 0, 119);
    width: 370px;
    height: 120px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}
.com_direction > span{
    
    background-color: aquamarine;
    border: 2px solid black;
    margin: 3px;
   
}

/*Trabalhando com quebra de linha*/

.com_felex_wrap{
    border: 4px solid rgb(90, 4, 44);
    width: 420px;
    height: 120px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.com_wrap{
    background-color: aquamarine;
    border: 2px solid black;
    margin: 3px;
}

.sem_felex_wrap{
    border: 4px solid rgb(90, 4, 44);
    width: 420px;
    height: 120px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;
    
}

/*Mudando a posição*/

.center, .space_around, .space_between, .space_end{
    display: flex;
    margin-bottom: 20px;  
}

.box_center, .box_space_around, .box_space_between, .box_space_end {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(44, 3, 3);
    margin: 5px;
    background-color: blueviolet;
    border-radius: 50%;   
    
}

.center{
    justify-content: center;
     
}


.space_around{
   justify-content: space-around;
}

.space_between{
    justify-content: space-between;
}

.space_end{
    justify-content: end;
}

/*Posição dos elementos na vertical com justify-content: align-itens */


.box_center_align,.box_flex_end{
   width: 50px;
   height: 50px;
   background-color: black;
  
}

/*se o strecth tiver uma altura estabelecida, não funiona...por isso coloquei separado*/

.box_stretch{
    width: 50px;
   height: auto;
   background-color: black;
   margin: 3px;
}

.align_center,.flex_end,.stretch {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 2px solid rebeccapurple;
    /*podemos usar o gap ou margin*/
    gap: 3px;
}

.align_center{
   align-items: center;
}

.flex_end{
    align-items: end;
}

.stretch{
    align-items: stretch;
}

/*Mudando a ordem com flex*/

.order_container{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 600px;
    border: 2px solid #000;
    align-items: center;
    background-color: rgb(108, 119, 151);
    margin: 10px;
}

.order_box{
    border: 2px solid rgb(47, 11, 179);
    height: 20px;
    margin: 5px;
    width: 300px;
    text-align: center;   
}

#ter{
    order: 3;
}
#pri{
    order: 1;
}
#seg{
    order: 2;
}

/*usando basis */

.basis_container{
    display: flex;
    
}

.box_basis{
    flex-basis: 200px;
    border: 2px solid red;
    height: 15px;
    background-color: aqua;
}

.maior{
    flex-grow: 1;
}

/*Exemplos com Shrink*/



.shrink_container{
    display: flex;
}


.box_shrink{
    flex-basis: 250px;
    flex-grow: 1; 
    flex-shrink: 1; 
    width: auto;
    border: 2px solid rgb(93, 6, 175);
    height: 15px;
    background-color: aqua;  
}


.menor_shr{
   flex-shrink: 2;
} 

/*Alinhamento automático com: Align self*/

.align_self_container{
    width: 600px;
    height: 300px;
    border: 2px solid rgb(27, 27, 26);
    display: flex;
    align-items: end;
}

.box_self{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(70, 0, 128);
    background-color: #000;
}

.diferente_self{
    align-self: center;

}

.diferente_self2{
    align-self: flex-start;
}

