
/*Trabalhando com box model: altura e largura*/
.width_height{
    width: 400px;
    height: 100px;
    background-color: blue;
    text-align: center;
}


.width_height1{
    width: 600px;
    height: 100px;
    background-color: rgb(106, 106, 156);
    text-align: center;
}

/*Trabalhando com box model: padding*/
.com_padding, .sem_padding{
    background-color: #990f0f;
    color: #000;
    font-size: 34px;
   
}
.com_padding{
    padding: 30px;
}


/*Trabalhando com box model: Shorthand properties */

.shorthand_properties{
    background-color: #990f0f;
    color: #000;
    font-size: 34px;
    padding: 25px 15px;
}

.linkcentro{ 
    font-size: 24px;   
    text-align: center;  
    text-decoration: none;  
}

/*Trabalhando com box model: border-box*/

.com_border_box{
    background-color: #4e0c0c;
    color: aliceblue;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sem_border_box{
    background-color: #990f0f;
    color: aliceblue;
    width: 300px;
    padding: 20px;
  
}

/*Trabalhando com box model: estilo da borda*/

.estilo_borda{
    border: 5px solid green;
    padding: 10px;
}

.estilo_borda2{
    border: 5px dotted yellow;
    padding: 10px;
}

.estilo_borda3{
    border: 5px double brown;
    padding: 10px;
}

/*Trabalhando com box model: borda arredondada*/

.broda_are1{
    background-color: #4e0c0c;
    color: aliceblue;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 15px;
}

.broda_are2{
    background-color: #990f0f;
    color: aliceblue;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
  
}

/*Trabalhando com box model: adicionando margin*/

.com_margin{
    background-color: #4e0c0c;
    color: aliceblue;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 15px 20px 25px;
    border-radius: 5px;
}
.sem_margin{
    background-color: #0f4f99;
    color: aliceblue;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-left: 7px solid #000;
    border-top: 7px double #000;
   
    
    
}
.margin_visivel{
    background-color: gray;
    width: 350px;
}